<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">
            <mat-icon class="icon">
                <span class="material-symbols-outlined">fastfood</span>
            </mat-icon>
            TC Food Corner!
        </a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/cart">Cart</a></li>
                <li><a routerLink="/menu">Menu</a></li>
                <li><a routerLink="/Order-now">Order Now</a></li>
            </ul>
        </nav>
    </div>
</header>

