
header {
    background-color: #f8f9fa; /* Light background color */
    padding: 10px 0; /* Vertical padding */
    border-bottom: 1px solid #dee2e6; /* Bottom border for separation */
}
.logo{
  width: 50px;
}
ul li a{
    color: black;
 padding: 15px;
    font-size: 20px;
}

ul li a:hover{
  color:chocolate;

}
  .navbar-brand{
    font-weight: bolder;
    font-size: 30px;
    color:chocolate;
  }
  .navbar-toggler-icon{
    background-color: black;
    
  }
