<section id="our_menu" class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page_title text-center mb-4">
          <h1>Our Menu</h1>
          <div class="single_line"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs menu_tab mb-4" id="myTab" >
        <li class="nav-item">
          <a class="nav-link active" id="breakfast-tab" data-bs-toggle="tab" href="#breakfast">Breakfast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="lunch-tab" data-bs-toggle="tab" href="#lunch" >Lunch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="dinner-tab" data-bs-toggle="tab" href="#dinner" >Dinner</a>
        </li>
      </ul>
    </div>
    
    <div class="row">
      <div class="tab-content col-lg-12" id="myTabContent">
        <!-- Breakfast Tab Pane -->
        <div class="tab-pane fade show active" id="breakfast" role="tabpanel">
          <div class="row">
            <!-- First Column -->
            <div class="col-md-6">
              <div class="single_menu">
                <img src="egg.webp" alt="burger-menu Image">
                <div class="menu_content">
                  <h4>Egg Beard <span>$24</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="blackcoffee.jpeg" alt="blackcoffee Image">
                <div class="menu_content">
                  <h4>Black Coffee <span>$20</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="fried rice.jpeg" alt="fried rice Image">
                <div class="menu_content">
                  <h4>Fried Rice <span>$45</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="meat.jpeg" alt="meat Image">
                <div class="menu_content">
                  <h4>Meat <span>$26</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
            </div>
            <!-- Second Column -->
            <div class="col-md-6">
              <div class="single_menu">
                <img src="premium.avif" alt="premiumImage">
                <div class="menu_content">
                  <h4>Davey Gravy <span>$24</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="meal.avif" alt="meal Image">
                <div class="menu_content">
                  <h4>meal <span>$20</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="Granola.avif" alt="Granola Image">
                <div class="menu_content">
                  <h4>Granola <span>$45</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="juice.avif" alt="juice Image">
                <div class="menu_content">
                  <h4>juice <span>$24</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Lunch Tab Pane -->
        <div class="tab-pane fade" id="lunch" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <div class="single_menu">
                <img src="junk.avif" alt="junk Image">
                <div class="menu_content">
                  <h4>junk <span>$25</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="burgers.jpg" alt="burgers Image">
                <div class="menu_content">
                  <h4>burger <span>$20</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
            
            <div class="single_menu">
              <img src="paratha.avif" alt="paratha Image">
              <div class="menu_content">
                <h4>paratha <span>$20</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
              </div>
            </div>
          </div>
           <!-- Second Column -->
           <div class="col-md-6">
            <div class="single_menu">
              <img src="fries.avif" alt="fries Image">
              <div class="menu_content">
                <h4>fries <span>$24</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
              </div>
            </div>
            <div class="single_menu">
              <img src="meal.avif" alt="meal Image">
              <div class="menu_content">
                <h4>meal <span>$20</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
              </div>
            </div>
            <div class="single_menu">
              <img src="Granola.avif" alt="Granola Image">
              <div class="menu_content">
                <h4>Granola <span>$45</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
              </div>
            </div>
           </div>

            <!-- Repeat other lunch items -->
          </div>
        </div>

        <!-- Dinner Tab Pane -->
        <div class="tab-pane fade" id="dinner" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <div class="single_menu">
                <img src="fish.avif" alt="fish Image">
                <div class="menu_content">
                  <h4>Fish <span>$30</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
              <div class="single_menu">
                <img src="burgers.jpg" alt="burgers Image">
                <div class="menu_content">
                  <h4>burger <span>$20</span></h4>
                  <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                </div>
              </div>
            
            <div class="single_menu">
              <img src="hotwings.jpg" alt="hotwings Image">
              <div class="menu_content">
                <h4>Hot Wings <span>$20</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
              </div>
            </div>
          </div>
           <!-- Second Column -->
           <div class="col-md-6">
            <div class="single_menu">
              <img src="pizza.jpeg" alt="pizza Image">
              <div class="menu_content">
                <h4>Pizza<span>$24</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
              </div>
            </div>
            <div class="single_menu">
              <img src="meal.avif" alt="meal Image">
              <div class="menu_content">
                <h4>meal <span>$20</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
              </div>
            </div>
            <div class="single_menu">
              <img src="pasta.jpg" alt="pasta Image">
              <div class="menu_content">
                <h4>Pasta <span>$45</span></h4>
                <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
              </div>
            </div>
           
            </div>
            <!-- Repeat other dinner items -->
          </div>
        </div>
      </div>
      <a href="#" class="menu_btn btn btn-danger">View More</a>
    </div>
  </div>
</section>
